*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif;
  }

p{
    font-size: clamp(0px, 1vw + 1vh, 64px);
}

.Achtergrond{
    z-index: -1;
    position: absolute;
    top: 10vh;
    height: 0;
    width: 70vw;
    height: 80vh;
}

#Topbar{
    position: absolute;
    top: 0;
    height: 0;
    width: 70vw;
    height: 10vH;
    background-color: #405C37;
}

#Sidebar{
    top: 0;
    right: 0;
    position: absolute;
    width: 30vw;
    height: 100vh;
    background-color: #4C2E05;
}

#Bottombar{
    bottom: 0;
    left: 0;
    width: 70vw;
    height: 10vh;
    background-color: #4C2E05;
    position: absolute;
}

#TierDisp{
    left: 2vw;
    top: 2.5vh;
    color: white;
    position: absolute;
}

#FoodDisp{
    left: 20vw;
    top: 2.5vh;
    color: white;
    position: absolute;  
}

#Multiplier{
    left: 38vw;
    top: 2.5vh;
    color: white;
    position: absolute; 
}

#EpcDisp{
    left: 50vw;
    top: 2.5vh;
    color: white;
    position: absolute; 
}

#MoneyDisp{
    left: 72vw;
    top: 2.5vh;
    color: white;
    position: absolute; 
}

.ClickButton {
    background-color: transparent;
    border: none;
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 20vh;
    left: 20vw;
    cursor: pointer;
}

#FoodClick{
    width: 35vw;
    height: 35vh;

    top: 40vh;
}

